* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  font-family: "Inter", sans-serif;
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-screen #hopper-text-logo {
  width: 500px;
  margin-bottom: 50px;
  transition: 3s;
  -webkit-transitiion: 3s;
  -moz-transitiion: 3s;
  -ms-transitiion: 3s;
  -o-transitiion: 3s;
}
.start-screen form {
  display: flex;
  align-items: center;
}
.start-screen input {
  height: 38px;
  width: 575px;
  border: 2px solid #a4e82d;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: #f0f0f0;
  padding-left: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.start-screen input::-moz-placeholder {
  color: rgba(240, 240, 240, 0.768627451);
}
.start-screen input:-ms-input-placeholder {
  color: rgba(240, 240, 240, 0.768627451);
}
.start-screen input::placeholder {
  color: rgba(240, 240, 240, 0.768627451);
}
.start-screen button {
  border: 2px solid #a4e82d;
  border-radius: 50%;
  background-color: transparent;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 5px;
}
.start-screen button img {
  margin-top: 3px;
  margin-left: -3px;
  width: 20px;
  transition: 0.2s;
  -webkit-transitiion: 0.2s;
  -moz-transitiion: 0.2s;
  -ms-transitiion: 0.2s;
  -o-transitiion: 0.2s;
}
.start-screen button:hover img {
  filter: brightness(10);
}

.start-screen:hover #hopper-text-logo {
  width: 525px;
  margin-bottom: 65px;
}

.hopping-fullscreen {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.hopping-fullscreen .hopping-cont {
  position: absolute;
  width: 90%;
  height: 90%;
  max-width: 800px;
  max-height: 600px;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0d0d0d;
  color: #f0f0f0;
  border: 2px solid #a4e82d;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hopping-fullscreen .hopping-cont .prof-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hopping-fullscreen .hopping-cont .prof-timer p {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
}
.hopping-fullscreen .hopping-cont .prof-timer .prof {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hopping-fullscreen .hopping-cont .prof-timer .prof h2 {
  word-wrap: break-word;
}
.hopping-fullscreen .hopping-cont .prof-timer .prof img {
  width: 100px;
}
.hopping-fullscreen .hopping-cont .hop-text {
  background-color: #f0f0f0;
  min-height: 200px;
  border-radius: 5px;
  color: #0d0d0d;
}
.hopping-fullscreen .hopping-cont .hop-text h3 {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}
.hopping-fullscreen .hopping-cont .interact-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hopping-fullscreen .hopping-cont .interact-btns i {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  cursor: pointer;
  border: 4px solid #a4e82d;
  border-radius: 100px;
  padding: 12px;
}
.hopping-fullscreen .hopping-cont .interact-btns .liked {
  color: #ec5050;
}

.main-screen {
  display: none;
  justify-content: center;
  margin: 50px 0;
  gap: 75px;
}
.main-screen .prof-sect {
  width: 200px;
}
.main-screen .prof-sect img {
  width: 100%;
}
.main-screen .prof-sect h2 {
  text-align: center;
  color: #f0f0f0;
  word-wrap: break-word;
}
.main-screen .prof-sect .holders {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px;
}
.main-screen .prof-sect .holders i {
  color: #a4e82d;
  font-size: 1.5rem;
}
.main-screen .prof-sect .holders p {
  color: #f0f0f0;
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
}
.main-screen .action-sect {
  width: 450px;
}
.main-screen .action-sect .action-cont .selection-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-screen .action-sect .action-cont .selection-btns button {
  color: #f0f0f0;
  font-weight: 700;
  background-color: transparent;
  padding: 8px 35px;
  border: 3px solid #a4e82d;
  border-radius: 100px;
  cursor: pointer;
}
.main-screen .action-sect .action-cont .selection-btns .current-display {
  background-color: rgba(163, 232, 45, 0.66);
}
.main-screen .action-sect .action-cont form {
  margin-bottom: 15px;
}
.main-screen .action-sect .action-cont form textarea {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  resize: none;
  outline: none;
  border-radius: 10px;
  border: 3px solid #a4e82d;
  background-color: transparent;
  min-height: 200px;
  color: #f0f0f0;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
.main-screen .action-sect .action-cont form #post-btn {
  width: 100%;
  padding: 12px;
  background-color: #a4e82d;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.main-screen .action-sect .content-cont .post {
  margin: 30px 0;
}
.main-screen .action-sect .content-cont .post .post-content {
  border: 3px solid #a4e82d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
}
.main-screen .action-sect .content-cont .post .post-content .prof-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-screen .action-sect .content-cont .post .post-content .prof-info img {
  width: 50px;
}
.main-screen .action-sect .content-cont .post .post-content .prof-info h2 {
  font-size: 1.25rem;
  color: #f0f0f0;
  margin: 0;
}
.main-screen .action-sect .content-cont .post .post-content .post-text {
  background-color: #f0f0f0;
  min-height: 125px;
  border-radius: 5px;
}
.main-screen .action-sect .content-cont .post .post-content .post-text h3 {
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.main-screen .action-sect .content-cont .post .post-data {
  background-color: #a4e82d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 16px;
}
.main-screen .action-sect .content-cont .post .post-data i {
  color: #f0f0f0;
  font-size: 20px;
  cursor: pointer;
}
.main-screen .action-sect .content-cont .post .post-data .liked {
  color: #ec5050;
}
.main-screen .action-sect .content-cont .post .post-data p {
  color: #f0f0f0;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.main-screen .hopper-sect {
  width: 200px;
}
.main-screen .hopper-sect .logo-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.main-screen .hopper-sect .logo-cont img {
  width: 40px;
}
.main-screen .hopper-sect .logo-cont h1 {
  color: #f0f0f0;
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}
.main-screen .hopper-sect #hopping-btn {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  background-color: #a4e82d;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .main-screen {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .main-screen .prof-sect {
    order: 1;
  }
  .main-screen .action-sect {
    order: 3;
  }
  .main-screen .hopper-sect {
    order: 2;
  }
}
@media (max-width: 767px) {
  .start-screen {
    font-size: 80%;
  }
  .start-screen #hopper-text-logo {
    width: 300px;
    margin-bottom: 30px;
  }
  .start-screen input {
    width: 425px;
  }
  .start-screen:hover #hopper-text-logo {
    width: 325px;
    margin-bottom: 45px;
  }
  .prof-timer {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .start-screen #hopper-text-logo {
    width: 250px;
    margin-bottom: 25px;
  }
  .start-screen input {
    width: 300px;
  }
  .start-screen:hover #hopper-text-logo {
    width: 275px;
    margin-bottom: 35px;
  }
  .main-screen .action-sect {
    width: 100%;
    padding: 0 5%;
  }
  .main-screen .action-sect .action-cont .selection-btns button {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */